.tab2{width:1024px;height:34px;border:1px #cfedff solid;border-top:0;}
.tab2 ul{margin:0;padding:0;}
.tab2 li{float:left;padding:0 30px;height:34px;line-height:34px;text-align:center;border-right:1px #ebf7ff solid;cursor:pointer;}
.now,.tab2 li.now{color:#5299c4;background:#fff;font-weight:bold;}
.tablist{width:1024px;height:400px;font-size:14px;line-height:24px;border:1px #cfedff solid;border-top:0;display:none;}
.block{display:block;}
.red{color:#BD0A01;}
fieldset{width:378px;border:1px #B0C0D1 solid;padding:10px;}
legend{background:#B0C0D1;padding:4px 10px;color:#fff;}
#c{margin-top:10px;}
.c1,.c2{width:378px;line-height:20px;}
.c1{color:#014CC9;}
.c2{color:#7E6095;display:none;}
h3{font-size:16px;padding:5px 0;}

.left_content{width:400px;height:100%;float:left;}
.personalInfo{padding-top:60px;width:400px;}
.item{width:300px;height:35px;margin-left:60px;}
.trTitle{color:#666;font-size:18px;font-weight:400;}
.trContent{color:gray;}

.updatePass{margin-top:30px;visibility: hidden;}
.updatePassVisible{margin-top: 30px;visibility: visible;}
.submitUpdate{width:80px;height:30px;font-size:14px;background: white;}
.notice{width:400px;height:400px;margin-left:40px;float:right;}
.notice dl dt{line-height:15px;font-weight:bold;letter-spacing:1px;text-align:center;padding-top:30px;}
.notice dl dd{line-height:23px;text-indent:20px;letter-spacing:1px;margin-top:10px;color:#777;}

.content{width:100%;margin:0 auto;}
.orderTitle{font-size:18px;font-weight:400;color:gray;width:100%;text-align:center;}
.orderTitle span,.orderContent span{display:block;float:left;margin:5px 20px 0px 20px;}
.orderContent{font-size:16px;font-weight:200;color:gray;text-align:center;}
.orderId{width:100px;}
.orderTime{width:200px;}
.des{width:300px;}
.carNum{width:40px;}
.ticketCount{width:70px;}
.orderStatus{width:70px;}