<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- 
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>

	<mapping resource="com/zy/ticket/bean/Driver.hbm.xml" />
	<mapping resource="com/zy/ticket/bean/CarType.hbm.xml" />
	<mapping resource="com/zy/ticket/bean/Car.hbm.xml" />
	<mapping resource="com/zy/ticket/bean/Address.hbm.xml"/>
	<mapping resource="com/zy/ticket/bean/User.hbm.xml"/>
	<mapping resource="com/zy/ticket/bean/Manager.hbm.xml"/>
	<mapping resource="com/zy/ticket/bean/Order.hbm.xml"/>
	<mapping resource="com/zy/ticket/bean/Route.hbm.xml"/>
 -->
</session-factory>
</hibernate-configuration>